.custom-text-gradient {
    background: linear-gradient(to right, #F6A21C, #EA4225);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-text-gradient::selection {
    -webkit-text-fill-color: white;
}

.custom-box-shadow {
    box-shadow: 5px 5px 15px -10px rgba(0, 0, 0, 0.5);
}

.custom-bg-gradient {
    background-image: linear-gradient(to right, #fb9f31, #ef3d28);
    border: none;
}

#box-content-info {
    height: 200px;
    top: -100px;
    left: 0;
}

#box-content-info>div {
    width: 200px;
}

.box-content-icon{
    width: 80px; 
    height: 80px; 
    top: -40px; 
    right: 0;
}

.box-icon{
    height: 80px; 
    width: 80px;
}
